# Ignorer les environnements virtuels
venv/
.env/
path/
.env

# Ignorer les fichiers de dépendances temporaires
__pycache__/
*/__pycache__/

.vscode/
.DS_Store

# Ignore les fichiers de reporting

data/
logs/
